@media screen and (max-width:425px) {
    /* NAVBAR { */
        nav {
            min-height: 8vh;
            display: flex;
            padding: 1vh 2vw;
        } 
        nav .logo {
            font-size: 5.1vw;
        }
        .rot-pixo img {
            width: 8vw;
            opacity: 0.8;
        } 
        nav .rot-pixo {
            width: 8vw;
            transform: translate(-100%, -100%);
            position: absolute;
            left: 80%;
            top: 84%;}
            nav ul {
                display: none;
            }
            .up-btn {
                display: block;
                color: white;
                font-size: 7.5vw;
                margin: 0 15px;
                transition: 1s;
                text-decoration: none;
            }
            .up-btn:hover {
                text-shadow: 2px 2px 5px black;
            } 
            /* PIXO OFFSET SVG */
    #pixo_svg {
        width: 90vw;
    } 
    /* farewell Blink */
    .txtfare {
        font-size: 24vw;
        left: 83vw;
        top: 45vh;
    }
    /* neon effect  */
    .container h1 {
        font-size: 35vw;
        margin: 0 0 0px 0;
      }
      /* WRAPPER */
      .wrapper {
        flex-direction: column;
        font-size: 5.8vw;
        margin-top: -10vh;
        }
        .wrapper .dynamictxt {
            font-size: 9vw;
        }
        .statictxtdot {
            display: none;
        } 
      /* VIDEO*/
      .video {
        min-height: 45vh;  
    }
    .video video {
        width: 96%;
    }
    /* QUOTE */
    .pixo-h1 {
    font-weight: 800;
    color: rgb(252, 252, 252);
    letter-spacing: 0.2vw;
    font-size: 8vw;
    }
    .pixo-h3 {
        color: rgb(250, 250, 250);
        opacity: 0.8;
        font-size: 6vw;
    }
    .quote {
        min-height: 40vh;
    }
    .border {
        min-height: 40vh;
        padding: 5vh 2vw;
    }
    .quote .message {
        padding: 2vh 7vw;
    }
    .quote i {
        font-size: 2.5rem;
    }
    /* CARDS */
    .card {
        display: flex;
        margin: 2vh 4vw;
        flex-direction: column-reverse;
    }
    .left, .right {
        text-align: center;
    }
    .senior .desc {
        margin-top: 2vh;
        min-height: 20vh;
        text-transform: capitalize;
    }
    .senior-main-right {
        flex-wrap: nowrap;
        min-height: 45vh;
        align-items: center;
        /* justify-content: space-evenly; */
        margin-top: 2vh;
    }
    .senior-main-right .image {
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        clip-path: none;
        height: 40vh;
        width: 70vw;
        opacity: 1;
    }
    .senior-main-right .name {
        color: white;
        opacity: 0.9;
        text-transform: capitalize;
        letter-spacing: 1px;
        margin-top: 2vh;
        font-size: 4vw;
    }
    .senior .icons {
        margin-top: 2vh;
        align-items: center;
        justify-content: space-evenly;
    }
    .senior .icons a {
        text-decoration: none;
        font-size: 5.5vw;
        
        border-radius: 15px;
        padding: 0.5vh 3.5vw;
        color: white;
        opacity: 0.8;
        transition: 500ms;

    }
    .senior i {
        color: white;
        font-size: 5.5vw;
        margin-right: 3vw;
    }

    /* FOTER */
    .foot {
        min-height: 10vh;
        }
        .foot .love {
            font-size: 4vw;
        }
        .foot .copy {
            font-size: 3vw;
            margin-top: 1vh;
        }        
        /* WRAPPER */
        .thankyou {
            height: 7vh;
            background-color: rgb(44, 44, 44);
            overflow: hidden;
        }
        span.stroke {
            font-size: 9vw;
            margin: 0 2vw;
            opacity: 0.8;
        }
        span.nostroke {
            font-size: 9vw;
            opacity: 0.7;
        }                           

        }