* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
.canvas {
    min-height: 100vh;
}
nav {
    min-height: 6vh;
    width: 100%;
    position: fixed;
    box-shadow: 0 2px 5px black;
    /* background-color: rgba(56, 56, 56, 0.459); */
    -webkit-backdrop-filter: blur(8px);
    backdrop-filter: blur(8px);
}
.main {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    background-color: #ffff00;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 1200 800'%3E%3Cdefs%3E%3CradialGradient id='a' cx='0' cy='800' r='800' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%23ff8000'/%3E%3Cstop offset='1' stop-color='%23ff8000' stop-opacity='0'/%3E%3C/radialGradient%3E%3CradialGradient id='b' cx='1200' cy='800' r='800' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%2300ff19'/%3E%3Cstop offset='1' stop-color='%2300ff19' stop-opacity='0'/%3E%3C/radialGradient%3E%3CradialGradient id='c' cx='600' cy='0' r='600' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%239900ff'/%3E%3Cstop offset='1' stop-color='%239900ff' stop-opacity='0'/%3E%3C/radialGradient%3E%3CradialGradient id='d' cx='600' cy='800' r='600' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%23ffff00'/%3E%3Cstop offset='1' stop-color='%23ffff00' stop-opacity='0'/%3E%3C/radialGradient%3E%3CradialGradient id='e' cx='0' cy='0' r='800' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%23FF0000'/%3E%3Cstop offset='1' stop-color='%23FF0000' stop-opacity='0'/%3E%3C/radialGradient%3E%3CradialGradient id='f' cx='1200' cy='0' r='800' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%230CF'/%3E%3Cstop offset='1' stop-color='%230CF' stop-opacity='0'/%3E%3C/radialGradient%3E%3C/defs%3E%3Crect fill='url(%23a)' width='1200' height='800'/%3E%3Crect fill='url(%23b)' width='1200' height='800'/%3E%3Crect fill='url(%23c)' width='1200' height='800'/%3E%3Crect fill='url(%23d)' width='1200' height='800'/%3E%3Crect fill='url(%23e)' width='1200' height='800'/%3E%3Crect fill='url(%23f)' width='1200' height='800'/%3E%3C/svg%3E");
    background-size: cover;
    background-color: wheat;
    color: white;
    font-size: 3rem;
    position: relative;
    z-index: -1;
    overflow: hidden;
}
/* pixo_Svg animation */
#pixo_svg {
    width: 80vw;
}
.st0 {
    
    /* animation: fill 1s ease 5s; */
}
#pixo_svg path:nth-child(1) {
    stroke-dasharray: 624.653px;
    stroke-dashoffset: 624.653px;
    animation: line-amine 3s ease-out forwards;
}
#pixo_svg path:nth-child(2) {
    stroke-dasharray: 333.14px;
    stroke-dashoffset: 333.14px;
    animation: line-amine 3s ease forwards 300ms;
}
#pixo_svg path:nth-child(3) {
    stroke-dasharray: 532.068px;
    stroke-dashoffset: 532.068px;
    animation: line-amine 3s ease forwards 600ms;
}
#pixo_svg path:nth-child(4) {
    stroke-dasharray: 602.481px;
    stroke-dashoffset: 602.481px;
    animation: line-amine 3s ease forwards 900ms;
}
#pixo_svg path:nth-child(5) {
    stroke-dasharray: 586.840px;
    stroke-dashoffset: 586.840px;
    animation: line-amine 3s ease forwards 1200ms;
}
#pixo_svg path:nth-child(6) {
    stroke-dasharray: 602.482px;
    stroke-dashoffset: 602.482px;
    animation: line-amine 3s ease forwards 1500ms;
}
#pixo_svg path:nth-child(7) {
    stroke-dasharray: 333.141px;
    stroke-dashoffset: 333.141px;
    animation: line-amine 3s ease forwards 1800ms;
}
#pixo_svg path:nth-child(8) {
    stroke-dasharray: 779.665px;
    stroke-dashoffset: 779.665px;
    animation: line-amine 3s ease forwards 2100ms;
}
#pixo_svg path:nth-child(9) {
    stroke-dasharray: 552.625px;
    stroke-dashoffset: 552.625px;
    animation: line-amine 3s ease forwards 2400ms;
}
@keyframes line-amine {
    to {
        stroke-dashoffset: 0px;
    }
}
@keyframes fill {
    to {
        fill: white;
    }
    from {
        fill: none;
    }
}
/* Appear text */
.txtfare {
    font-family: 'Dancing Script', cursive;
    opacity: 0;
    animation: appear 3s ease forwards 3200ms;
    font-size: 12rem;
    position: absolute;
    transform: translate(-100%, -100%);
    left: 72%;
    top: 59%;
    text-shadow: 0 0 4px rgb(158, 158, 158);
}
@keyframes appear {
    to {
        opacity: 0.9;
    }
}
/* neon_blink effect */
:root {
    --var-color: rgb(255, 255, 255);
  }
  .container h1 {
    font-size: 7rem;
    color: var(--var-color);
    position: relative;
    font-family: 'Poppins', sans-serif;
    opacity: 0;
    animation: appear 3s ease forwards 4s;
    letter-spacing: 15px;
  }
  .container h1::before {
    position: absolute;
    content: attr(data-text);
    text-shadow: 0px 0px 20px var(--var-color);
    filter: blur(10px) brightness(0.7);
    animation: flicker 2s linear forwards 3700ms;
  }
  @keyframes flicker {
    0% {
      filter: blur(5px) brightness(1);
    }
    3% {
      filter: blur(5px) brightness(0.7);
    }
    6% {
      filter: blur(5px) brightness(0.7);
    }
    7% {
      filter: blur(5px) brightness(1);
    }
    8% {
      filter: blur(5px) brightness(0.7);
    }
    9% {
      filter: blur(5px) brightness(1);
    }
    10% {
      filter: blur(5px) brightness(0.7);
    }
    20% {
      filter: blur(5px) brightness(1);
    }
    50% {
      filter: blur(5px) brightness(1);
    }
    99% {
      filter: blur(5px) brightness(0.7);
    }
    100% {
      filter: blur(5px) brightness(1);
    }
  }
   

/* wrapper  */
.wrapper {
    display: flex;
    
}
.wrapper .statictxt {
    color: rgb(248, 248, 248);
}
.wrapper .dynamictxt {
margin-left: 20px;
position: relative;

/* overflow: hidden;height: 50px; */
}
.dynamictxt::after {
    content: "";
    border-right: 3px solid white;
    position: absolute;
    height: 90%;
    right: -5px;
    animation: blink 0.7s infinite ease;
}
@keyframes blink {
    100% {
        opacity: 1;
    }
    0% {
        opacity: 0;
    }
}
/* intro screen */
.intro {
    height: 90vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-image: linear-gradient(#ffafbd, #ffc3a0);
    font-size: 3rem;
    transform: scaleX(50%);

}
.intro button {
    margin-top: 30px;
    background-color: transparent;
    outline: none;
    font-size: 1rem;
    padding: 10px 25px;
    transition: 500ms;
}
.intro button:hover {
    background-color: black;
    color: white;
    border: 1px solid white;
}